.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .navbar {
    background-color: transparent!important;
  }

  .card-informacion {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .redes-sociales 
    {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #17A2B8;
      color:#ffffff;
  }
  