body {
background-color: #000000;
}

.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.navbar {
    background-color: transparent!important;
  }

.card-informacion {
      display: flex;
      justify-content: center;
      align-items: center;
  }

.redes-sociales 
    {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #17A2B8;
      color:#ffffff;
  }
  
.titulo-logo {
  color: #fff;
  font-size: 25px;
  padding-left: 20px;
  text-decoration: none!important;
}

.titulo-logo:hover {
  color: rgb(0, 0, 0);
}

.titulo-informacion {
  padding: 70px 0 24px 0;
    border-bottom: 1px solid #17A2B8;
    width: 90%;
    margin: 0 auto;
}

.contenedor-color {
  background-color: #17A2B8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

.arriba-texto {
  padding-top: 40px;
}

.abajo-texto {
  padding-bottom:40px;
}

.card {
  background-color: #17A2B8;
  color: white;
}

.formulario-type {
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
}

